<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="description" content="I help companies optimize their cloud infrastructure so they can focus on their product">
    
    <meta property="og:title" content="Sylvain Witmeyer, AWS cloud Architect consultant"/>
    <meta property="og:image" content="//sylwit.com/images/sylwit.png"/>
    <meta property="og:description" content="I help companies optimize their cloud infrastructure so they can focus on their product"/>
    <meta property="og:url" content="//sylwit.com" />

    <link rel="icon" type="image/ico" href="https://a0.awsstatic.com/main/images/site/fav/favicon.ico" />
    <link rel="shortcut icon" type="image/ico" href="https://a0.awsstatic.com/main/images/site/fav/favicon.ico" />

    {{ partial "css.html" . }}

</head>