<div class="MainHero">
  <div id="angles" class="">
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <h2 class="title">
              Hi, I'm Sylvain,<br />
              a senior devops &amp;<br />
              AWS cloud architect consultant.
            </h2>
            <p>
              <br>
              <a href="#register" class="button polly-Button">Hire me now</a>
            </p>

          </div>

        </div>
      </div>

    </div>
  </section>
</div>

<div class="Mockups">
  <img src="images/sylwit.png" />
</div>



<!-- 

<section class="intro columns is-mobile">

  <div class="column is-fullheight is-one-third">
    <footer>
      <ul>
        {{ range .Site.Params.social }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      </ul>
    </footer>

  </div>

  </div>



</section> -->