<div class="MainHero">
    <div id="angles" class="">
    </div>
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <ul class="column is-6">
                        <h2 class="title">
                            Hi, I'm Sylvain,<br/>
                            a senior devops &amp;<br/>
                            executive AWS cloud architect consultant.
                        </h2>
                        <ul id="certification">
                            <li>
                                <a href="https://www.youracclaim.com/badges/dab60956-e2e7-4314-b921-e50b52ccf4d7" target="_blank"><img src="images/aws-certified-developer-associate.png" height="108"
                                                width="108"
                                                alt="AWS certified developer associate"/></a>
                            </li>
                            <li>
                                <a href="https://www.youracclaim.com/badges/e0d9c1ec-6226-4190-9b8e-88540f939272" target="_blank"><img src="images/aws-certified-solutions-architect-associate.png"
                                                height="108" width="108"
                                                alt="AWS certified solutions architect associate"/></a>
                            </li>
                            <li>
                                <a href="#contact" class="button polly-Button hire">Hire me now</a>
                            </li>
                        </ul>


                        <div class="socials">
                            {{ partial "socials.html" . }}
                        </div>
                </div>

            </div>
        </div>

</div>
</section>
</div>

<div class="Mockups">
    <picture>
        <source width="100%" height="100%" srcset="images/sylwit.webp" type="image/webp">
        <source width="100%" height="100%" srcset="images/sylwit.png" type="image/png">
        <img width="100%" height="100%" src="images/sylwit.png"/>
    </picture>

</div>