<section class="hero-body">
  <div class="columns has-text-centered is-centered">
    <div class="column is-10">
      <h1 class="title is-size-1-desktop is-size-3-mobile is-uppercase has-text-weight-bold">Skills and qualifications
      </h1>
      <h2 class="subtitle is-size-5-mobile">
        I have over 15 years professional experience in software development and IT management.
      </h2>

      <div class="columns is-multiline ">



        {{ range $.Site.Data.skills.skill }}
        
        <div class="column is-half">

          <div class="skill">
            <p class="title is-size-6 has-text-weight-semibold"><i class="far fa-check-square"></i> {{ .title }}</p>
            <p class="subtitle is-size-6">{{ .subtitle }}</p>
        
        
          </div>
        </div>
        
        
        
        {{ end }}


      </div>



    </div>
  </div>
</section>

