<section class="work hero-body">
  <div class="columns has-text-centered is-centered">
    <div class="column is-8">
      <h1 class="title is-size-1-desktop is-size-3-mobile is-uppercase has-text-weight-bold">What do I do ?</h1>
      <h2 class="subtitle is-size-5-mobile">
        I help companies optimize their cloud infrastructure so they can focus on their product
      </h2>
    </div>
  </div>


</section>

<section class="section get-started">
  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-full has-text-centered">
        <div class="steps columns">

          {{ partial "steps.html" . }}

        </div>
      </div>
    </div>
  </div>
</section>