.MainHero {
  position: relative;
  min-height: 80vh;

  h2,
  p {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    line-height: 1.3em;
  }

  .socials {
    margin-top: 3em;

    .icon {
      margin-left: 0;
    }
  }

  .hire {
    background: #f8a700;
    color: $white;
    font-weight: 500;
    border: 2px solid white;
  }

  #angles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    position: absolute;
    box-shadow: inset 0 -10px 80px -10px rgba(0, 0, 0, 0.1);
    background: url("../images/awscloud.jpg") no-repeat center top;
  }
}

.Mockups {
  z-index: 1;
  position: absolute;
  top: 1%;
  pointer-events: none;
  left: 50%;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .scrolling-wrapper-flexbox:after {
    display: none;
  }
  .scrolling-wrapper-flexbox .feature-card {
    width: 45%;
    height: 250px;
  }
  .scrolling-wrapper-flexbox .padder-card {
    display: inline-block;
  }
  .MainHero .hero-body {
    padding-bottom: 140px;
  }
  .Mockups {
    position: relative;
    width: 120%;
    left: 10%;
    margin-top: -75%;
    margin-bottom: 30px;
  }
}